#root {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 20px;
}

.youtube:hover {
  border-color: #FF0033;
  box-shadow: 0px 0px 5px #FF0033;
}

.twitch:hover {
  border-color: #9146FF;
  box-shadow: 0px 0px 5px #9146FF;
}

.github:hover {
  border-color: #B6BFB8;
  box-shadow: 0px 0px 5px #B6BFB8;
}

.macaroni:hover {
  border-color: #F1BC4A;
  box-shadow: 0px 0px 5px #F1BC4A;
}

h2 {
  margin-top: 24px;
  text-shadow: 0px 0px 3px #7644b5;
}

h1 {
  margin-top: 24px;
  text-shadow: 0px 0px 10px #7644b5;
}

p {
  font-size: 20px;
}

small {
  font-size: 10px;
}

/*
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
*/