#root {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  transition: all 0.5s ease-out;
}

.sbutton:hover {
  transition: all 0.8s ease;
  border-color: #ff8888;
  box-shadow: 0px 0px 5px #ff8888;
  background-color: rgb(203, 35, 35, 0.2);
}

h2 {
  margin-top: 0px;
  text-shadow: 0px 0px 3px #7644b5;
}

.sheader {
  border-radius: 8px 8px 0px 0px;
  margin-top: 0px;
  background-color: rgb(255, 136, 136, .2);
  width: 100%;
}

h1 {
  margin-top: 24px;
  text-shadow: 0px 0px 10px #7644b5;
}

.video {
  border-color: #e63e3e;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-image: url("https://i9.ytimg.com/vi/wq8wYLbliEk/maxresdefault.jpg?v=697577d2&sqp=CNSWxMwG&rs=AOn4CLDzmxezYYrjL3BqSuhEcTN01ZXI7g");
  background-size: cover;
  background-position: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4%;
  margin-right: 2%;
  width: 44%;
  min-width: 225;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
}

.videoo {
  border-color: #e63e3e;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-image: url("https://i9.ytimg.com/vi/JtKPPOJ6KOs/sddefault.jpg?v=6972cf81&sqp=CNSWxMwG&rs=AOn4CLBVA6YJpxFQB45lg-TE86oTEEW1Hw");
  background-size: cover;
  background-position: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 4%;
  width: 44%;
  min-width: 225;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
}


.video-title {
  display: flex;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  font-size: 15px;
  background-color: rgb(255, 136, 136, 0.2);
  opacity: 75%;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

.video-title:hover {
  font-size: 20px;
  background-color: rgb(255, 136, 136, 0.5);
  opacity: 100%;
}

.vscontent {
  display: flex;
  flex-direction: horizontal;
}

.vsection {
  margin-bottom: 20px;
  border-color: #e63e3e;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding-bottom: 15px;
}

.play {
  opacity: 50%;
  margin-top: auto;
  height: 40px;
}

.section {
  margin-bottom: 20px;
  border-color: #e63e3e;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

p {
  font-size: 20px;
}

small {
  font-size: 10px;
}